* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
  }

.grid-container {
  display: grid;
  border-radius: 10px;
  border: 1px solid #cFe2ce;
  grid-gap: 10px;
  padding: 10px;
}

@media (min-width: 40em) {
    .grid-container {
        
        grid-template-columns: 300px auto;
        grid-template-areas:
        "image header"
        "image cooking-summary"
        "image method"
        "ingredients method"
        "nutrivalues method";
        }
    
    .header { grid-area: header; }
    .image { grid-area: image; }
    .ingredients { grid-area: ingredients; }
    .nutrivalues { grid-area: nutrivalues; }
    .cooking-summary { grid-area: cooking-summary; }
    .method { grid-area: method; }
}

.header {
    font-family: 'Water Brush';
    font-size: 32px;
    color: #4c6a4b;
    font-weight: bold;
    text-align: center;
    word-spacing: 32px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;   
}

 img {
    width: 100%;
    border-radius: 10px;
}

.ingredients {
    display: flex;
    justify-content: left;
    padding: 25px;
    font-size: 18px;
    background-color:#95c476;
    border-radius: 10px;    
}

.ingredients ul {
    list-style-type: none;
    font-size: 18px;
}

.ingredients p {
    font-family: 'Water Brush';
    font-size: 32px;
    font-weight: bold;
}

.nutrivalues {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 18px; 
}

.nutrivalues table {
    border-spacing: 0;
    border: 1px solid #4c6a4b;
    border-radius: 10px;
    padding: 10px; 
  }

.nutrivalues tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.nutrivalues td:first-child, th:first-child {
    border-radius: 5px 0 0 5px;
}

.nutrivalues td:last-child, th:last-child {
    border-radius: 0 5px 5px 0;
}

.nutrivalues tbody .subcomponent {
    text-align: center;
}

.cooking-summary {
    text-align: center;
    font-size: 14px;
    color: #6B9D4A;
    word-spacing: 6px;
}

.method {
    padding: 25px;
    background-color:#f0f0f0;
    border-radius: 10px;
    font-size: 20px;
}

.method ul {
    list-style-type: none;
}

.method p {
    font-family: 'Water Brush';
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.method span {
    font-family: 'Water Brush';
    font-size: 32px;
    font-weight: bold;
}
